# 17student 去广告重写规则订阅
# 适用于 Quantumult X

[rewrite_local]
# 拦截开屏广告配置接口并重写响应
^https?:\/\/.*\.17(zuoye|yiqi)\.com\/client\/loadwelcomeimg\.api url script-response-body https://raw.githubusercontent.com/yunjohn/ad/main/17student_ad.js

[mitm]
hostname = *.17zuoye.com, *.yiqizuoye.com
